<!DOCTYPE html>
<meta charset=UTF-8>
<meta content="width=device-width,initial-scale=1" name=viewport>
<link href="https://fonts.googleapis.com/css?family=Montserrat:700&display=swap" rel="stylesheet">

<title><%= hello.environment %> gcp-cnci demo</title>

<style>
    body {
        background: #36343b;
  		font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 14px;
        line-height: 21px
        margin:none;
        overflow-y:hidden;
    }
    
    .container {
        width: auto;
        max-width: 600px;
        height: 100vh;
        margin: 0 auto;
        background: #36343b;
    }

    .gradient {
        background: rgb(199,33,39);
        background: linear-gradient(90deg, rgba(199,33,39,1) 0%, rgba(237,6,119,1) 14.48%, rgba(251,171,28,1) 28.47%, rgba(252,238,43,1) 42.45%, rgba(167,207,59,1) 55.94%, rgba(70,182,73,1) 70.91%, rgba(21,131,198,1) 85.4%, rgba(70,176,228,1) 100%);
        width:100vw;
        position:absolute;
        height:12px;
        top:0;
        left:0;
    }

    .logo {
        width:240px;
        position:absolute;
        height:120px;
        top:0;
        left:0;
        margin-top:12px;
    }

    svg {
        margin-top:36px;
        margin-left:24px;
        width:240px;
    }
    
    .header {
        text-align: center
    }
    h1 {
        text-align: center;
        padding-top: 12px;
        margin-top: 0;
        font-size:84px;
        line-height:72px;
        margin-bottom: 12px;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
</style> 
<div class="gradient">
<svg x="0px" y="0px" viewBox="0 0 1000 404.5" style="enable-background:new 0 0 1000 404.5;" xml:space="preserve">
<style type="text/css">
    .st0{fill:none;}
    .st1{fill:url(#SVGID_1_);}
    .st2{fill:url(#SVGID_2_);}
    .st3{fill:url(#SVGID_3_);}
    .st4{fill:url(#SVGID_4_);}
    .st5{fill:#FFFFFF;}
</style>
<g>
    <g>
        <path class="st0" d="M231.7,121.8l-7.7-5.4c-9.9-6.9-21.5-10.6-33.5-10.6c-32.2,0-58.3,26.2-58.3,58.3c0,2.7,0.2,5.5,0.6,8.4
            l1.2,8.2l-0.1,0"/>
        <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="271.4297" y1="16.1811" x2="364.7856" y2="109.5371">
            <stop  offset="0" style="stop-color:#1683C6"/>
            <stop  offset="1" style="stop-color:#48B0E4"/>
        </linearGradient>
        <path class="st1" d="M427.9,27.3c-7.6-4.9-15.7-9.1-24.1-12.7c-20-8.5-41.3-12.8-63.2-12.8c-31,0-61.2,8.8-87.2,25.4
            c-15,9.6-28.2,21.4-39.3,35.2l17.5,59.4l0.2,0.1l4.2-8.7c19.7-40.4,59.7-65.5,104.6-65.5c27,0,51.9,9.3,71.7,24.8
            C414.9,56.6,420.2,41.3,427.9,27.3z"/>
        <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="111.8694" y1="168.3373" x2="215.9818" y2="64.2249">
            <stop  offset="0" style="stop-color:#49B749"/>
            <stop  offset="1" style="stop-color:#A7CF3C"/>
        </linearGradient>
        <path class="st2" d="M133.8,180.6l-1.2-8.2c-0.4-2.8-0.6-5.6-0.6-8.4c0-32.2,26.2-58.3,58.3-58.3c12.1,0,23.7,3.7,33.5,10.6
            l7.7,5.4l-17.5-59.4c0,0,0,0-0.1,0.1c-7.7-1.8-15.7-2.7-23.7-2.7c-27.9,0-54.1,10.9-73.8,30.6c-15,15-24.8,33.6-28.7,54.1
            L133.8,180.6L133.8,180.6z"/>
        <linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="156.6185" y1="402.2972" x2="156.6185" y2="150.3999">
            <stop  offset="0" style="stop-color:#FBAC1D"/>
            <stop  offset="1" style="stop-color:#FCEE2D"/>
        </linearGradient>
        <path class="st3" d="M137.8,356.3c-48.1,0-87.3-39.4-87.3-87.7c0-43.6,32.3-80.9,75.2-86.9l8.1-1.1l-45.8-36.2
            c0,0.1,0,0.2-0.1,0.3c-19.3,7.8-36.6,20.2-50.3,36c-21.3,24.4-33,55.6-33,88c0,73.7,59.8,133.7,133.3,133.7h147l24-46H137.8z"/>
        <linearGradient id="SVGID_4_" gradientUnits="userSpaceOnUse" x1="364.3985" y1="356.1252" x2="364.3985" y2="402.0434">
            <stop  offset="0" style="stop-color:#E91E25"/>
            <stop  offset="1" style="stop-color:#ED1573"/>
        </linearGradient>
        <path class="st4" d="M417.9,356.3H308.7l-24,46H444C432.6,389,423.7,373.4,417.9,356.3z"/>
    </g>
    <g>
        <g>
            <path class="st5" d="M458.6,96.8v-0.5c0-52.2,40.2-93.2,94.4-93.2c36.6,0,60.1,15.4,76,37.4l-37.4,28.9c-10.2-12.8-22-21-39.2-21
                c-25.1,0-42.7,21.2-42.7,47.3v0.5c0,26.9,17.7,47.9,42.7,47.9c18.7,0,29.7-8.7,40.4-21.8l37.4,26.6
                c-16.9,23.3-39.7,40.4-79.3,40.4C499.8,189.4,458.6,150.2,458.6,96.8z"/>
        </g>
        <g>
            <path class="st5" d="M659.2,6.7h49.6v135.6h86.8v43.5H659.2V6.7z"/>
        </g>
        <g>
            <path class="st5" d="M824.6,6.7h69.1c64,0,101.1,36.9,101.1,88.5v0.5c0,51.7-37.6,90.1-102.1,90.1h-68.1V6.7z M894.4,141.8
                c29.7,0,49.4-16.4,49.4-45.3V96c0-28.7-19.7-45.3-49.4-45.3h-20.2v91.1H894.4z"/>
        </g>
        <g>
            <path class="st5" d="M458.6,310v-0.5c0-52.2,40.2-93.2,94.4-93.2c36.6,0,60.1,15.4,76,37.4l-37.4,28.9c-10.2-12.8-22-21-39.2-21
                c-25.1,0-42.7,21.2-42.7,47.3v0.5c0,26.9,17.7,47.9,42.7,47.9c18.7,0,29.7-8.7,40.4-21.8l37.4,26.6
                c-16.9,23.3-39.7,40.4-79.3,40.4C499.8,402.7,458.6,363.5,458.6,310z"/>
            <path class="st5" d="M553,216.4c36.6,0,60.1,15.4,76,37.4l-37.4,28.9c-10.2-12.8-22-21-39.2-21c-25.1,0-42.7,21.2-42.7,47.3v0.5
                c0,26.9,17.7,47.9,42.7,47.9c18.7,0,29.7-8.7,40.4-21.8l37.4,26.6c-16.9,23.3-39.7,40.4-79.3,40.4c-51.2,0-92.4-39.2-92.4-92.6
                v-0.5C458.6,257.3,498.8,216.4,553,216.4"/>
        </g>
        <g>
            <path class="st5" d="M628.3,219.9h55.5l40.7,113.4l40.7-113.4h54.5L747,400.4H701L628.3,219.9z"/>
            <path class="st5" d="M819.7,219.9L747,400.4H701l-72.7-180.4h55.5l40.7,113.4l40.7-113.4H819.7"/>
        </g>
        <g>
            <path class="st5" d="M830.7,219.9h84.7c27.4,0,46.3,7.2,58.3,19.4c10.5,10.2,15.9,24.1,15.9,41.7v0.5c0,27.4-14.6,45.6-36.9,55
                l42.7,62.4h-57.3l-36.1-54.3h-0.5h-21.2v54.3h-49.6V219.9z M913.1,305.9c16.9,0,26.6-8.2,26.6-21.2v-0.5
                c0-14.1-10.2-21.2-26.9-21.2h-32.5v43H913.1z"/>
            <path class="st5" d="M915.4,219.9c27.4,0,46.3,7.2,58.3,19.4c10.5,10.2,15.9,24.1,15.9,41.7v0.5c0,27.4-14.6,45.6-36.9,55
                l42.7,62.4h-57.3l-36.1-54.3h-0.5h-21.2v54.3h-49.6V219.9H915.4 M880.3,305.9h32.8c16.9,0,26.6-8.2,26.6-21.2v-0.5
                c0-14.1-10.2-21.2-26.9-21.2h-32.5V305.9"/>
        </g>
    </g>
</g>
</svg>
</div>
<div class="logo"></div>
<div class=container>
    <div class=header>
        <h1><%= hello.msg %></h1>
    </div>
</div>
